*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #F2F2F2;
}

/* Font */
h1 { color: #ffffff; font-size: 1.5vw; font-weight: 600;}

h2 { color: #ffffff; font-size: 1vw; font-weight: 600;}

p { color: #f8f8f8; font-size: 1vw; font-weight: 500;}

a { color: #f8f8f8; font-size: 1.5vw; transition: 0.5s; text-decoration: none;}

a:hover { color: #c0c0c0; transition: 0.5s; }

.header{
    display: flex;
    background-color: #212121;
    height: 30vh;
    width: 100%;
}

.link{
    text-align: right;
    margin: auto;
}

.box{
    text-align: left;
    margin: auto;
}

.content{
    height: 70%;
    margin-right: 10%;
    margin-left: 10%;
}

.block{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 30%;
    transform: rotate(0deg);
    transition: 1s;
}

.block:hover {
    cursor: pointer;
}

.block-img img{
    height: 100%;
    width: 100%;
}

.block-img:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.block-person{
    background-color: #212121;
    width: 40%;
}

.block-person h1,
.block-person p{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

.frame-grid{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10%;
}

.frame{
    height: 105%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 18px;
}

.frame-name h1,
.frame-name p{
    color: #000;
}

.frame-img img{
    width: 100%;
}

.block-art{
    margin-top: 10%;
    margin-bottom: 10%;
    height: 60%;
    width: 100%;
    background-color: #212121;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
}
.block-art-name{
    margin: 1%;
}
.block-art .block-art-img img{
    width: 100%;
}

/*Gallery*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 


.containers{
    margin-bottom: 10%;
    width: 96%;
    display: flex;
    padding: 0 20px;
}

.slide{
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: aliceblue;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out 0.4s;
}

.slide.active{
    flex: 10;
}
