@font-face {
  font-family: "Century Gothic Local";
  src: url(/font/centurygothic.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic Local";
  text-align: center;
}

h1 {
  font-size: 500%;
  color: white;
}

h2 {
  font-size: 350%;
  color: white;
}

/*
HEADER
*/
::marker {
  color: aliceblue;
  font-size: -webkit-xxx-large;
}
#lang {
  position: absolute;
  top: -20px;
  right: 270px;
}
#lang summary:hover {
  transition: 0.7s;
  color: rgb(219, 219, 219);
}
#lang summary {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 300%;
  color: white;
}
#lang a {
  text-decoration: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 200%;
  color: white;
}
#lang a:hover {
  transition: 0.7s;
  color: rgb(219, 219, 219);
}
#header-fern-bg {
  position: relative;
  width: 100%;
}
#header-fern h1 {
  position: absolute;
  top: 8px;
  left: 16px;
}
#header-fern-whatsapp {
  position: absolute;
  top: 8px;
  right: 132px;
  width: 100px;
}
#header-fern-wechat {
  position: absolute;
  top: 30px;
  right: 16px;
  width: 100px;
  cursor: pointer;
}

/*
ABOUT US
*/
#about-us-bg {
  position: relative;
  width: 100%;
}
#about-us h2 {
  position: absolute;
  left: 90px;
  bottom: 350px;
  text-align: left;
}
#about-us button {
  position: absolute;
  left: 90px;
  bottom: 170px;

  appearance: none;
  border: 0;
  border-radius: 5px;
  background-color: yellowgreen;
  color: white;
  padding: 8px 16px;
  font-size: 300%;
  cursor: pointer;
  transition: 1s;
}
#about-us button:hover {
  background-color: rgb(132, 170, 56);
  color: white;
  transition: 1s;
}

/*
FORK PROCESS
*/
#work-process {
  position: relative;
  width: 100%;
}
#work-tag {
  position: absolute;
  top: -150px;
  width: 100%;
  font-size: 400%;
  color: yellowgreen;
}
.img-work {
  margin-top: 200px;
}

.sunrise {
  position: relative;
}
#sunrise-txt {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 500%;
}
#sunrise-number {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
#sunrise-img {
  width: 100%;
  transition: 0.7s;
}
.sunrise:hover #sunrise-img {
  width: 80%;
  transition: 0.7s;
}

.salting-ready {
  display: flex;
}

.salting {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
}
#salting-txt {
  position: absolute;
  margin-top: 60%;
  font-size: 500%;
  margin-left: 15%;
  transform: rotate(90deg);
}
.salting:hover #salting-txt {
  display: list-item;
  opacity: 0.8;
  transition: 0.7s;
}
#salting-number {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
#salting-img {
  width: 100%;
  transition: 0.7s;
}
.salting:hover #salting-img {
  width: 75%;
  transition: 0.7s;
}

.ready {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
}
#ready-txt {
  position: absolute;
  margin-top: 60%;
  font-size: 500%;
  margin-left: 25%;
  transform: rotate(90deg);
  transition: 0.7s;
}
.ready:hover #ready-txt {
  display: list-item;
  opacity: 0.8;
  transition: 0.7s;
}
#ready-number {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
#ready-img {
  width: 100%;
  transition: 0.7s;
}
.ready:hover #ready-img {
  width: 75%;
  transition: 0.7s;
}

.packed {
  position: relative;
}
#packed-txt {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 500%;
}
#packed-number {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
#packed-img {
  width: 100%;
  transition: 0.7s;
}
.packed:hover #packed-img {
  width: 80%;
  transition: 0.7s;
}
/*
D R I E D    FERROUS
*/
#dried-fern {
  position: relative;
}
#dried-fern img {
  width: 100%;
}
#dried-fern h1 {
  position: absolute;
  z-index: 1;
  color: yellowgreen;
  width: 100%;
  background: antiquewhite;
  margin-top: 50%;
  font-size: 8vh;
  padding: 0 0 5px;
  opacity: 0.9;
}
/*
READY DRY FERROUS
*/
#ready-dry-ferrous {
  position: relative;
}
#ready-dry-ferrous img {
  width: 100%;
}
#ready-dry-ferrous h1 {
  position: absolute;
  top: 0;
  z-index: 1;
  color: yellowgreen;
  width: 100%;
  background: antiquewhite;
  margin-top: 55%;
  font-size: 8vh;
  padding: 0 0 5px;
  opacity: 0.9;
}
/*Top menu*/
#header-fern-whatsapp:active {
  transform: rotate(360deg);
  transition: 0.7s;
}
#header-fern-wechat:active {
  transform: rotate(360deg);
  transition: 0.7s;
}
/*
WeChat Menu
*/
.hide-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellowgreen;
  z-index: 1000;
  text-align: center;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

#teg-wechat h1 {
  color: #000;
  text-align: center;
  margin-top: 5%;
}

#img-wechat {
  max-width: 100%;
  max-height: 80%;
}

#close {
  cursor: pointer;
  position: absolute;
  right: 0;
}
/*
About Us
*/

@media all and (max-device-width: 914px) {
  #about-us,
  #dried-ferrous {
    left: 0;
  }
}
